[Desktop Entry]
Name=Buckshot Roulette
Comment=Play this game on Steam
Exec=steam steam://rungameid/2835570
Icon=steam_icon_2835570
Terminal=false
Type=Application
Categories=Game;
