[Desktop Entry]
Categories=
Comment=Licence file
Comment[en]=Licence file
Encoding=UTF-8
Exec=/home/maskop/STMicroelectronics/STM32Cube/STM32CubeProgrammer/util/Licence.txt
GenericName=
GenericName[en]=
Icon=
MimeType=
Name=Licence.txt
Name[en]=Licence.txt
Path=
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=root

# created by com.izforge.izpack.util.os.Unix_Shortcut $Revision$
# $Id$