[Desktop Entry]
Name=Who's Your Daddy?!
Comment=Play this game on Steam
Exec=steam steam://rungameid/427730
Icon=steam_icon_427730
Terminal=false
Type=Application
Categories=Game;
